body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px gray;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

.login-box button {
    width: 95%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: #008cff;
}

.login-box a {
    color: #008cff;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

#message,
#msg {
    margin-top: 10px;
    color: red;
}